body {
    background-image: url(img/airport-background.jpg);
    background-size: cover;
    color: cadetblue;
    font-size: 25px;
    font-family: 'Karla', sans-serif;

}

*,body,html {
    box-sizing: border-box;
}
.background {
    filter: blur(8px);
}

.article {
    border-radius: 2vw;
    background-color:aquamarine;
    width: fit-content;
    height: fit-content;
    margin: 2% 2vw;
    padding: 1%;
}

.header {
    margin: 2vw;
    background-color: hsla(160, 100%, 75%, 0.6);
    background-size: cover;
    margin: 1%;
    padding: 1%;
    border-radius: 2vw;
    font-style: "Bold";
}

.image {
    border-radius: 2vw;
    margin: auto 10%;
}