body {
    background-image: url(img/airport-background.jpg);
    background-size: 100vw;
    color: cadetblue;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,body,html {
    box-sizing: border-box;
}

.article-box {
    background-color: #B2EBF2;
    width: 500px;
    height: 500px;
    margin-bottom: 400px;
}

h1 {
    font-size: 30px;
    color: darkolivegreen;
}

.header-box {
    
}

.image {
    style="width: 80%;"
}