body {
    background-image: url(img/airport-background.jpg);
    background-size: cover;
    color: cadetblue;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 30px;
    color: darkolivegreen;
}

.main-header {
    font-style: italic;
    margin-top: 50px;
}

.wood-font {
    color: burlywood;
}